footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    
    @include md{
        grid-template-columns: 2fr;
        grid-template-areas: 
        "links newsletter";

        .links{
            margin-left: 25px;
            margin-right: 19px;
        }
        .newsletter{
            margin-left: 25px;
            margin-right: 19px;
        }
        .socials{
            margin-left: 25px;
            margin-right: 19px;
        }

    }
    @include lg{
        grid-template-columns: 3fr;
        grid-template-areas: 
        "links newsletter socials";
    }
    .links{
        grid-area: links;
        margin-left: 8px;
        margin-right: 10px;
    }
    .newsletter{
        grid-area: newsletter;
        
    }
    .socials{
        grid-area: socials;
        list-style: none;
        display:inline-block;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        margin-right: 10px;
    }
    a{
        color: #FFF;
        padding: 20px;
    }
    a:hover{
        background-color: #FF7D54;
        transition: .5s;
        position: -5px;
    }
    h3{
        color: #FFF;
    }
    button{
        background-color: #FF7D54;
    }
    button:hover{
        background-color: #FFF;
    }

}